<!doctype html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->
<html lang="en">

<head>

  <!-- Basic -->
  <title>Margo | Home</title>

                <!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>

<body>

  <!-- Full Body Container -->
  <div id="container">

      <% include _header.ejs %>

   


    <!-- Start Home Page Slider -->
    <section id="home">
      <!-- Carousel -->
      <div id="main-slide" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#main-slide" data-slide-to="0" class="active"></li>
          <li data-target="#main-slide" data-slide-to="1"></li>
          <li data-target="#main-slide" data-slide-to="2"></li>
        </ol>
        <!--/ Indicators end-->

        <!-- Carousel inner -->
        <div class="carousel-inner">
          <div class="item active">
            <img class="img-responsive" src="/pic/ford1.jpeg" alt="slider">
            <div class="slider-content">
              <div class="col-md-12 text-center">
                <h2 class="animated2">
                              <span><strong>Gran Oferta Ford Escape</strong></span>
                              </h2>
                
                <p class="animated4"><a href="#" class="slider btn btn-system btn-large">Comprala ya!</a>
                </p>
              </div>
            </div>
          </div>
          <!--/ Carousel item end -->
          <div class="item">
            <img class="img-responsive" src="/pic/honda1.jpeg" alt="slider">
            <div class="slider-content">
              <div class="col-md-12 text-center">
                <h2 class="animated4">
                                <span><strong>Honda Civic 2013</strong></span>
                            </h2>
               
                <p class="animated6"><a href="#" class="slider btn btn-system btn-large">Comprala ya!</a>
                </p>
              </div>
            </div>
          </div>
          <!--/ Carousel item end -->
          <div class="item">
            <img class="img-responsive" src="/pic/honda2.jpeg" alt="slider">
            <div class="slider-content">
              <div class="col-md-12 text-center">
                <h2 class="animated7 white">
                                <span><strong>Honda Civic 2013</strong></span>
                            </h2>
                
                <div class="">
                  <a class="animated4 slider btn btn-system btn-large btn-min-block" href="#">Comprala ya!</a>
                </div>
              </div>
            </div>
          </div>
          <!--/ Carousel item end -->
        </div>
        <!-- Carousel inner end-->

        <!-- Controls -->
        <a class="left carousel-control" href="#main-slide" data-slide="prev">
          <span><i class="fa fa-angle-left"></i></span>
        </a>
        <a class="right carousel-control" href="#main-slide" data-slide="next">
          <span><i class="fa fa-angle-right"></i></span>
        </a>
      </div>
      <!-- /carousel -->
    </section>
    <!-- End Home Page Slider -->


    <!-- Start Services Section -->
    <div class="section service">
      <div class="container">
        <div class="row">

          

        </div>
        <!-- .row -->
      </div>
      <!-- .container -->
    </div>
    <!-- End Services Section -->



    <!-- Start Portfolio Section -->
    <div class="section full-width-portfolio" style="border-top:0; border-bottom:0; background:#fff;">

      
        



        <!-- Start Team Members -->
        <div class="row">

        
      </div>
      <!-- .container -->
    </div>
    <!-- End Team Member Section -->


    <div id="parallax-one" class="parallax" style="background-image:url(images/parallax/bg-02.jpg);">
      <div class="parallax-text-container-1">
        <div class="parallax-text-item">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="counter-item">
                  <i class="fa fa-cloud-upload"></i>
                  <div class="timer" id="item1" data-to="991" data-speed="5000"></div>
                  <h5>Files uploaded</h5>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="counter-item">
                  <i class="fa fa-check"></i>
                  <div class="timer" id="item2" data-to="7394" data-speed="5000"></div>
                  <h5>Projects completed</h5>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="counter-item">
                  <i class="fa fa-code"></i>
                  <div class="timer" id="item3" data-to="18745" data-speed="5000"></div>
                  <h5>Lines of code written</h5>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="counter-item">
                  <i class="fa fa-male"></i>
                  <div class="timer" id="item4" data-to="8423" data-speed="5000"></div>
                  <h5>Happy clients</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


   

   

    


  </div>
  <!-- End Full Body Container -->

  <!-- Go To Top Link -->
  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <div id="loader">
    <div class="spinner">
      <div class="dot1"></div>
      <div class="dot2"></div>
    </div>
  </div>

 

  <script type="text/javascript" src="js/script.js"></script>

</body>

</html>